body {
    min-height: 100%;
    height: 450px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
    /* wrapperクラスを中央寄せ */
}
/** header **/
.header {
    height: 100px;
    background-color: #ffce7a;
}
/** end of header **/
/** contents **/
.contents {
    height: 250px;
}
/** left **/
.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
}
/** center/right **/
.top-mid {
    float: left;
    width: 250px;
    height: 150px;
    background-color: #f89c9c;
}
.center-top {
    float: left;
    width: 150px;
    height: 50px;
    background-color: #c2ffc8;
}
.center-mid {
    float: left;
    width: 150px;
    height: 100px;
    background-color: #ffc2c5;
}
.btm {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #fff083;
}
/** end of contents **/
/** footer **/
.footer {
    height: 100px;
    background-color: #bea5ff;
}
/** end of footer **/
/* reset.css*/
* {
    margin: 0;
    padding: 0;
}